# Core Data Science
scikit-learn
pandas

# API Framework
fastapi
uvicorn[standard]

# Experiment Tracking
mlflow

# Testing Framework
pytest
requests # Per i test funzionali dell'API

# Monitoring (Base)
prometheus-fastapi-instrumentator